<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
		<ion-buttons end>
			<button ion-button (click)="askCupon()" icon-left >
				<ion-icon name="closed-captioning"></ion-icon>
				Cupon
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content class="card-background-page">

	<!--<img src="http://newton.eycproveedores.com/newton/public/img/logo-newton.png" style="height:120px; margin-top:20%" alt="">-->
	<!--<h1 text-center color="primary" [ngClass]="{'dissapear' :  loading}"> Descargando Menú... </h1>-->
	<button ion-button color="light" (click)="selectClientes()" block icon-left *ngIf="api.user.is_vendedor">
		<ion-icon name="person"></ion-icon>
		{{ api.user_selected  ? api.user_selected.full_name :'Seleccionar Cliente'}}
	</button>
	<ion-card (click)="ordenar('almuerzo')">
		<img src="./assets/img/almuerzo.jpg" />
		<div class="card-title">Almuerzo</div>
		<div class="card-subtitle">
			<ion-spinner color="light" *ngIf="status.almuerzo === undefined"></ion-spinner>
			<button ion-button="" color="secondary" outline *ngIf="canOrder('almuerzo') && in_horario">
				Ordene Ahora
			</button>
			<span *ngIf="status.almuerzo === true">
				Ya pedido!
			</span>
			<div class="card-subtitle" *ngIf="status.almuerzo === false && !in_horario">
			 	<button ion-button  color="danger" disabled="true">
				 	Fuera de horario
				 </button>
			</div>
		</div>
		<div class="card-footer" text-right *ngIf="status.almuerzo === true">
			<button ion-button color="danger" clear (click)="deletePedido($event,'almuerzo')">
				Cancelar Pedido
			</button>
		</div>
	</ion-card>

	<ion-card (click)="ordenar('comida')">
		<img src="./assets/img/comida.jpg" />

		<div class="card-title">Comida</div>
		<div class="card-subtitle">
			<ion-spinner color="light" *ngIf="status.comida === undefined"></ion-spinner>
			<button ion-button="" color="secondary" outline *ngIf="canOrder('comida') && in_horario">
				Ordene Ahora
			</button>
			<span *ngIf="status.comida === true &&   in_horario">
				Ya pedido!
			</span>
			<div class="card-subtitle" *ngIf="status.comida === false && !in_horario">
			 	<button ion-button  color="danger" disabled="true">
				 	Fuera de horario
				 </button>
			</div>
		</div>
		<div class="card-footer" text-right *ngIf="status.comida === true">
			<button ion-button color="danger" clear (click)="deletePedido($event,'comida')">
				Cancelar Pedido
			</button>
		</div>
	</ion-card>

	<ion-card (click)="ordenar('cena')">
		<img src="./assets/img/cena.jpg" />
		<div class="card-title">Cena</div>
		<div class="card-subtitle">
			<ion-spinner color="light" *ngIf="status.cena === undefined"></ion-spinner>
			<button ion-button="" color="secondary" outline *ngIf="canOrder('cena') && in_horario">
				Ordene Ahora
			</button>
			<span *ngIf="status.cena === true &&   in_horario">
				Ya pedido!
			</span>
			<div class="card-subtitle" *ngIf="status.cena === false && !in_horario">
			 	<button ion-button  color="danger" disabled="true">
				 	Fuera de horario
				 </button>
			</div>
		</div>
		<div class="card-footer" text-right *ngIf="status.cena === true">
			<button ion-button color="danger" clear (click)="deletePedido($event,'cena')">
				Cancelar Pedido
			</button>
		</div>
	</ion-card>
<ion-fab bottom right *ngIf="api.user.admin">
    <button ion-fab color="favorite" (click)="generateCupon()"><ion-icon name="closed-captioning"></ion-icon></button>
</ion-fab>

</ion-content>