<ion-split-pane>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
          <img [src]="api.url + 'img/logo-newton.png'" style="height:70px;" item-left alt="">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left color="primary"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item  (click)="verperfil()" *ngIf="api.user.token != null">
          <ion-icon name="person" item-left color="primary"></ion-icon>
          Mi Perfil
      </button>
		<button menuClose ion-item  (click)="verMisPedidos()" *ngIf="api.user.token != null">
          <ion-icon name="cart" item-left color="primary"></ion-icon>
          Mis Pedidos
      </button>
      <button menuClose ion-item  (click)="logout()" *ngIf="api.user.token != null">
          <ion-icon name="log-out" item-left color="primary"></ion-icon>
          Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>